#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<!-- 	
	<center>
		<h:outputText value="${symbol_pound}{msg['header.title']}" />

		<p:graphicImage value="${symbol_pound}{resource['images/playground.png']}"
			height="40" width="52" />

	</center>
	<p:graphicImage value="${symbol_pound}{resource['images/jsf-small.png']}" alt="logo" />
 -->

	<center>

		<p:panelGrid columns="2">

			<h:outputText value="${symbol_pound}{msg['header.title']}" />
			<p:graphicImage value="${symbol_pound}{resource['images/jsf-small.png']}"
				alt="logo" />

		</p:panelGrid>
	</center>
</ui:composition>
