#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">

		<h3>
			<h:outputText value="${symbol_pound}{employeeBean.title}">
			</h:outputText>
		</h3>



		<p:dataTable value="${symbol_pound}{employeeBean.employees}"
			var="employee">
			<p:column>
				<f:facet name="header">
					<h:outputText value="Employee ID"></h:outputText>
				</f:facet>
				<h:outputText value="${symbol_pound}{employee.employeeId}"></h:outputText>
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Employee Name"></h:outputText>
				</f:facet>
				<h:outputText value="${symbol_pound}{employee.employeeName}"></h:outputText>
			</p:column>
		</p:dataTable>


	</ui:define>
</ui:composition>