#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">

		<h3>
			<h:outputText value="${symbol_pound}{testBean.title}">
			</h:outputText>
		</h3>
		
		<h:outputText value="${symbol_pound}{testBean.currentDate}">
			<f:convertDateTime dateStyle="full" timeZone="EST" type="date" />
		</h:outputText>

	</ui:define>
</ui:composition>